* {
  box-sizing: border-box;
}
.editor-text {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  line-height: 32px;
  letter-spacing: 0px;
}
.error-container {
  background-color: #040306;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.loading-view {
  background-color: transparent !important;
}
.album-box {
  background-color: transparent;
}
.try-again {
  background-color: transparent;
  padding: 10px;
  border: 1px solid #1db954;
  outline: none;
  color: #1db954;
  border-radius: 10px;
}
@media (max-width: 767px) {
  /*mobile-view*/
  .error-container {
    height: 350px;
  }
  .album-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: -40px;
  }
}
@media (min-width: 768px) {
  /* pc-view*/
  .error-container {
    height: 450px;
    width: 85vw;
  }
  .album-list {
    display: flex;
    margin-left: -40px;
    list-style-type: none;
    flex-wrap: wrap;
  }
}
