.home-container {
  background-color: #181818;
}

@media (min-width: 768px) {
  .home-container {
    display: flex;
    min-height: 100vh;
  }
  .home-content-container {
    padding-top: 9vh;
    padding-right: 20px;
    padding-left: 20px;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
  }
}
@media (max-width: 767px) {
  .home-container {
    min-height: 100vh;
  }
  .home-content-container {
    padding-top: 10vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
}
