@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
.category-link-btn {
  border: none;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}

@media (min-width: 768px) {
  .category-details-container {
    background-color: #181818;
    display: flex;
  }
  .category-main-container {
    padding: 20px;
  }
  .podcast {
    font-family: Assistant;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #ffffff;
  }
  .podcast-list {
    width: 90vw;
    height: 90vh;
    overflow-y: auto;
    scrollbar-width: none;
    list-style-type: none;
    margin-left: -40px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .category-header {
    display: none;
  }
  .category-details-container {
    background-color: #181818;
    min-height: 100vh;
  }
  .category-main-container {
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .podcast {
    font-family: Assistant;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #ffffff;
  }
  .error-container {
    height: 100vh;
  }
  .podcast-list {
    list-style-type: none;
    margin-left: -20px;
  }
}
