.login-main-container {
  background-image: url('https://res.cloudinary.com/dxrdjcafp/image/upload/v1767356415/download_y0gej2_a_-90_eqh5v1.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0 1000px black;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto';
}
.login-content-container {
  background-color: rgba(24, 24, 24, 0.85);
  padding: 10px;
  border-radius: 12px;
  backdrop-filter: blur(2px);
  z-index: 1;
  box-shadow: 0px 0 100px rgba(24, 24, 24, 0.7);
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field-box {
  display: flex;
  flex-direction: column;
}

label {
  font-family: 'Roboto';
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 5%;
}
form {
  display: flex;
  flex-direction: column;
}
.login-btn {
  align-self: center;
  width: 93px;
  height: 40px;
  margin-top: 12px;
  border-radius: 15px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  background-color: rgba(24, 24, 24);
  color: white;
  justify-content: center;
  align-items: center;
}
.login-btn::after {
  content: '';
  position: absolute;
  height: 46px;
  width: 97px;
  border-radius: 15px;
  background-image: linear-gradient(to bottom right, white, lime, white);
  z-index: -1;
}
.login-btn:hover {
  z-index: 1;
  color: black;
  box-shadow: 40px 0 60px lime, -40px 0 60px white;
}
.err-msg {
  color: lime;
  text-align: center;
}
@media (min-width: 768px) {
  .login-content-container {
    min-width: 456px;
    min-height: 433px;
  }
  .logo-img {
    width: 150px;
    height: 63px;
  }
  .logo-text {
    font-family: Assistant;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
  }
  .form-input {
    height: 52px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 22px;
    margin: 10px;
  }
}

@media (max-width: 767px) {
  .logo-img {
    width: 100px;
    height: 42px;
  }
  .logo-text {
    font-family: Assistant;
    font-weight: 700;
    font-size: 28px;
    color: rgb(255, 255, 255);
    line-height: 100%;
  }
  .form-input {
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin: 10px;
  }
  .login-content-container {
    width: 296px;
    height: 337px;
  }
}
