@media (min-width: 768px) {
  .each-album-list-item {
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  .each-album-list-item:hover {
    background-color: #303030;
  }
  .album-track-play {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
  }
  .each-album-list-item:hover .play-icon {
    display: block;
  }
  .each-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-track-artist {
    display: none;
  }
}

@media (max-width: 767px) {
  .each-album-list-item {
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  .play-btn {
    display: none;
  }
  .each-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-track-artist {
    font-family: Assistant;
    font-weight: 600;
    font-size: 12px;
    color: #9b9b9b;
    line-height: 0%;
  }
  .album-track-play {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
  }
  .album-song-duration {
    color: #9b9b9b;
  }
  .each-album-list-item:hover {
    background-color: #303030;
  }
}
